@page
@model M_CHAT.Pages.CuestionarioModel
@{
}

<h1>Cuestionario</h1>
<P>el siguiente Cuestionario es para ver signos tempranos de autismo en nuestros niños y prevenir el autismo, para poder
    responder el cuestionario necesita poner unicamente SI/si cualquier forma es valida, o poner un NO/no, responda 
    segun los comportamientos de su niño, ya que este Cuestionario le ayudara a saber si su hijo cuenta o no con princios
    de autismo. una vez dicho lo anterior COMENCEMOS
</p>

<form>
    <div class="form-group">
        <label for="ControlInput3">¿Disfruta su hijo cuando se le balancea o se le hace saltar sobre sus rodillas? </label>
        <input type="text" class="form-control" id="ControlInput3" placeholder="">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Muestra interés por otros niños o niñas? </label>
        <input type="text" class="form-control" id="ControlInput3" placeholder="">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Le gusta subirse a las cosas, como sillones, escalones, juegos del parque? </label>
        <input type="text" class="form-control" id="ControlInput3" placeholder="">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Le gusta que el adulto juegue con él o ella al “cucú-tras” (taparse los ojos y luego descubrirlos; jugar a esconderse y aparecer de repente)?</label>
        <input type="text" class="form-control" id="ControlInput3" placeholder="">
    </div>

    <div class="form-group">
        <label for="ControlInput3">¿Alguna vez hace juegos imaginativos, por ejemplo haciendo como si hablara por teléfono, como si estuviera dando de comer a una muñeca, como si estuviera conduciendo un coche o cosas así</label>
        <input text="text" type="text" class="form-control" id="ControlInput3" form-control">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Suele señalar con el dedo para pedir algo?</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Suele señalar con el dedo para indicar que algo le llama la atención?</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Puede jugar adecuadamente con piezas o juguetes pequeños (por ejemplo cochecitos, muñequitos o bloques de construcción) sin únicamente chuparlos, agitarlos o tirarlos?</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Suele traerle objetos para enseñárselos</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Suele mirarle a los ojos durante unos segundos?</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Le parece demasiado sensible a ruidos poco intensos? (por ejemplo, reacciona tapándose los oídos, etc.)</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Sonríe al verle a usted o cuando usted le sonríe</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Puede imitar o repetir gestos o acciones que usted hace? (por ejemplo, si usted hace una mueca él o ella también la hace</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Responde cuando se le llama por su nombre</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">Si usted señala con el dedo un juguete al otro lado de la habitación… ¿Dirige su hijo o hija la mirada hacia ese juguete</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Ha aprendido ya a andar</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">Si usted está mirando algo atentamente, ¿su hijo o hija se pone también a mirarlo</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Hace su hijo o hija movimientos raros con los dedos, por ejemplo, acercándoselos a los ojos</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Intenta que usted preste atención a las actividades que él o ella está haciendo</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Alguna vez ha pensado que su hijo o hija podría tener sordera</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Entiende su hijo o hija lo que la gente dice</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">¿Se queda a veces mirando al vacío o va de un lado al otro sin propósito</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <div class="form-group">
        <label for="ControlInput3">Si su hijo o hija tiene que enfrentarse a una situación desconocida, ¿le mira primero a usted a la cara para saber cómo reaccionar</label>
        <input type="text" class="form-control" id="ControlInput3">
    </div>
    <br>
    <br>
    <div class="d-flex justify-content-end">
        <a asp-page="/Index" class="btn btn-danger m-1">Cancelar</a>
        <a asp-page="/Resultados" class="btn btn-success m-1">Resultados</a>
    </div>
</form>

