@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center text-dark">
    <h1 class="display-4">WELCOME TO M-CHAT</h1>
    <P>We welcome you to the DE-CHAT program, this program is to prevent and treat autism in our children</p>
        <h1 class="display-4">BIENVENIDO A M-CHAT</h1>
        <p>Te damos la Bienvenida al programa DE-CHAT, este programa consiste en prevenir y tratar el autismo en nuestros niños</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="d-flex justify-content-center">
            <a asp-page="/Registrarse" class="btn btn-dark m-1">Registrarse</a>
            <a asp-page="/INICIAR_SESION" class="btn btn-success m-1">Iniciar Sesion</a>
        </div>
</div>

