@page
@model M_CHAT.Pages.INICIAR_SESIONModel
@{
    ViewData["Title"] = "INICIAR_SESION";
}

<h1>INICIAR_SESION</h1>
<p>
    <div class="card" style="width: 30rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">

                <div class="form-group">
                    <label for="ControlInput2">Correo Electronico</label>
                    <input type="Correo" class="form-control" id="ControlInput2" placeholder="Correo Electronico"> 
                    <label for="ControlInput2">Contraseña</label>
                    <input type="password" class="form-control" id="ControlInput2" placeholder="Contraseña">
                    <br />
                    <div class="d-flex justify-content-end">
                        <a asp-page="/Index" class="btn btn-danger m-1">Cancelar</a>
                        <a asp-page="/Cuestionario" class="btn btn-outline-info m-1">Iniciar Sesion</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>


