@page
@model M_CHAT.Pages.ResultadosModel
@{
}

<p>
    <div class="card" style="width: 69.9rem;">
        <div class="card-header">
            Resultados
        </div>
        <div class="text-justify m-4">
            "por favor espere mientres generamos los resultados"
        </div>
    </div>
</p>

<p>
    <div class="card" style="width: 69.9rem;">
        <div class="card-header text">
            IMPORTANTE
        </div>
        <div class="text-justify m-4">
            Si usted llega a fallar varias preguntas, no se asuste no significa que su niño tenga autismo, pero es recomendable
            que se haga un analisis clinico mas a fondo. si este fue su caso nos puede contactar y nosotros le atenderemos.
            pero si no fue el caso, FELICIDADES su niño esta libre de sintomas de Autismo, pero es recomendable realizar una evaluacion
            mas afondo
        </div>

    </div>
</p>
<p>
    <div class="d-flex justify-content-end">
        <a asp-page="#" class="btn btn-success m-1">Descargar Resultado</a>
    </div>
</p>
</p>
<div class="d-flex justify-content-end">
    <a asp-page="/Index" class="btn btn-outline-info m-1">Inicio</a>
</div>